<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Cache-Control" content="no-cache">
<meta http-equiv="Expires" content="0">
<title>King</title>
<link href="/css/login.css" type="text/css" rel="stylesheet">
</head>
<body>

<div class="login">
    <div class="message">King Login</div>

    <form method="post">
        <input name="action" value="login" type="hidden">

        <input name="username" placeholder="username" required="" type="text">

        <input name="password" placeholder="password" required="" type="password">

        <input value="submit" style="width:100%;" type="submit">

        <div id="show" align="center"></div>
    </form>

</div>

<div class="copyright">Powered by <a href="https://github.com/zhaotianxiang/king" target="_blank">Tianxiang</a></div>

<script>
    var failure = <%= flag %>;
    if(failure == 1) document.getElementById("show").innerText = "login failed!";
</script>
</body>
</html>
